body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    transition: background-color 0.3s, color 0.3s;
    overflow-x: hidden; /* Oculta la barra de desplazamiento horizontal */
}

body.dark-mode {
    background-color: #121212;
    color: #fff;
}

header {
    background: #333;
    color: #fff;
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

.logo img {
    width: 150px;
    height: auto;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav li {
    margin-right: 2rem;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

nav a:hover {
    color: #ff5722;
}

.title {
    text-align: center;
    padding: 2rem 0;
    margin-top: 10rem;
}

.title h1 {
    margin: 0;
    font-size: 3rem;
}

.title p {
    font-size: 1.2rem;
    margin-top: 1rem;
}

main {
    padding-top: 10rem; /* Añade espacio superior equivalente a la altura del encabezado */
}

.section {
    padding: 2rem 0;
    margin: 0 auto;
    text-align: center;
}

.section-content {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

footer {
    text-align: center;
    padding: 1rem 0;
    background: #333;
    color: #fff;
    position: relative; /* Cambia a posición relativa */
    clear: both; /* Limpia el float */
    width: 100%;
}
